.user-info-wrap {
    display: flex;
    align-items: center;
}
.user-info-wrap img {
    border: 2px solid grey;
    border-radius:50%;
    margin-left: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.user-info-wrap div {
    font-weight: bold;
    text-shadow: 4px 2px black; color: lightgrey;
}

