.genres-wrap {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 3px;
    right: 2px;
    color: white;
    flex-wrap: wrap;
}
.genres-wrap div {
    padding: 0 3px;
    background-color: grey;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: max-content;
    font-size: 14px;
}