.update-wrap {
 text-align: center;
}
.update-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.update-form input {
    box-sizing: border-box;
   height: 35px;
}

.select-form {
    height: 35px;
    min-width: 300px;
}
