.movie-list-info h2, .movie-list-info h3, .movie-list-info h4,.movie-list-info h5, .movie-list-info h6 {
    margin: 5px 0;
    text-align: center;
}
.movie-list-info h2 {
    font-size: 20px;
}
.movie-list-info h3 {
    font-size: 18px;
}
.movie-list-info h4 {
    font-size: 16px;
}
.movie-list-info h5 {
    font-size: 14px;
}
.movie-list-info h6 {
    font-size: 12px;
}
.popularity_rating {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding-left: 3px;
    top: 310px;
    color:white;
    width: 99%;
    box-sizing: border-box;
}
.popularity_rating div {
    padding: 0 3px;
    border-radius: 3px;
    font-size: 12px;
}
.popularity_rating div:first-child {
    background-color: #c76342;
}
.popularity_rating div:last-child {
    background-color: #a8a82f;
}
.release_date {
    padding-left: 10px;
    margin-bottom: 5px;
}
.overview {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: white;
    text-align: justify;
    padding: 10px;
    z-index: 10;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 16;
    -webkit-box-orient: vertical;

}
.overview span {
    font-size: 18px;
    text-transform: uppercase;
}
.movie-details-info h1 {
    text-transform: uppercase;
    font-size: 34px;
    margin: 0;
}
.tagline {
    font-style: italic;
}
.description, .homepage-link, .rating-block span, .release_budget-info span, .production_companies-group div span {
    font-weight: bold;
}
.movie-details-info a {
    display: block;
    width: max-content;
    padding: 0 5px;
    background-color:transparent;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 15px;
}
.link-black {
    color: black;
    border: 2px solid black;
}
.link-light {
    color: lightgrey;
    border: 2px solid lightgrey;
}
.rating-block {
    margin-bottom: 5px;
}
.rating-block, .release_budget-info {
    font-size: 17px;
}
.color-red {
    color: red;
}
.color-green {
    color: green;
}
.genre-group, .production_countries-group, .production_companies-group {
    display: flex;
    margin: 5px 0;
}
.genre-group div, .production_countries-group div {
    margin: 0 5px;
    font-weight: bold;
}
.production_companies-group {
    align-items: center;
    flex-wrap: wrap;
}
.production_companies-group div {
    display: flex;
    align-items: center;
    margin: 5px;
}
.color-lg {
    color: lightgrey;
}
