.dark-theme-bg {
    padding: 120px 20px 30px 20px;
    background: #141E30;
    background: linear-gradient(to right, #243B55, #141E30);
}
.light-theme-bg {
    padding: 120px 20px 30px 20px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.more-movies {
    display: block;
    width: 200px;
    height: 45px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    text-transform: uppercase;
}
.more-movies:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    color: grey;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}
.more-movies:disabled {
    display: none;
}
.dark-button {
    border: 2px solid #243B55;
    background-color: #1e3148;
    color: lightgrey;
}
.light-button {
    border: 2px solid #79b9f5;
    background-color: #8EC5FC;
    color: #0000EE;
}