.stars-block {
    display: flex;
    align-items: center;
    height: 30px;
    width: max-content;
    margin: 0 auto;
}
.stars-number {
    font-weight: bold;
    font-size: 17px;
    width: 25px;
}